body {
  background-color: black;
  color: white;
}
h1 {
  background-color: rgb(60, 4, 60);
  text-align: center;
  border: 3px solid rgb(232, 1, 1);
  border-radius: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  -webkit-text-stroke: 2px cyan;
  box-shadow: 10px -4px 20px pink;
}
h2 {
  background-color: blue;
  font-family: sans-serif;
  height: 30px;
  border-left: 5px solid red;
  border-radius: 10px;
}
audio {
  width: 100%;
  border: 2px solid rgb(232, 1, 1);
  border-radius: 40px;
  box-shadow: 10px -4px 20px red;
}
h2 mark {
  color: red;
}
img {
  border: 2px solid red;
  border-radius: 40px;
  box-shadow: 10px -4px 20px red;
}
video {
  width: 70%;
  border: 2px solid red;
  border-radius: 40px;
  box-shadow: 10px -4px 20px red;
}
del {
  background-color: #ff0000;
}
#vr {
  color: yellow;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
#mr {
  color: orange;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  box-shadow: 6px -3px 10px blue;
  border-radius: 20px;
}
#in {
  color: cyan;
}
